@page "/"

<PageTitle>Home :: KhumaloCraft Emporium</PageTitle>

<section class="">
  <div class="">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="card-banner bg-gray h-100" style="
                                                      min-height: 200px;
                                                      background-size: cover;
                                                      background-position: center;
                                                      width: 100%;
                                                      background-repeat: no-repeat;
                                                      top: 50%;
                                                      background-image: url('images/spacejoy-IH7wPsjwomc-unsplash.jpg');">
          <div class="p-3 p-lg-5" style="max-width: 70%;">
            <h3 class="text-dark">Best products & brands in our store at 80% off</h3>
            <p>That's true but not always</p>
            <button class="btn btn-warning shadow-0" href="#"> Claim offer </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Our Artisans</h5>
                <p class="text-white-50">At KhumaloCraft Emporium, we collaborate with artisans</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Quality and Authenticity</h5>
                <p class="text-white-50">At KhumaloCraft Emporium, we are committed to upholding the highest standards of quality, authenticity, and ethical craftsmanship. Each product in our collection is carefully handcrafted using locally sourced materials and traditional techniques, ensuring that every purchase supports the livelihoods of our artisans and preserves their cultural heritage.</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-success" style="min-height: 200px;">
          <div class="card-body">
            <h5 class="text-white">Shop with Purpose</h5>
            <p class="text-white-50" style="max-width: 400px;">When you shop with KhumaloCraft Emporium, you're not just purchasing a product—you're investing in a story, a tradition, and a way of life. Join us in celebrating the artistry of our talented artisans and discover the beauty of handmade creations that are truly one-of-a-kind.</p>
            <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


