@page "/mywork"

<PageTitle>My Work :: KhumaloCraft Emporium</PageTitle>

<header>
    <div class="bg-primary text-white py-5">
        <div class="container py-5">
        <h1>
            Best products from local artisans &amp; <br>
            brands in our store
        </h1>
        <p>
            Trendy Products, Factory Prices, Excellent Service
        </p>
        <button type="button" class="btn btn-outline-light">
            Learn more
        </button>
        <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
            <span class="pt-1">Purchase now</span>
        </button>
        </div>
    </div>
</header>

<section>
  <div class="my-5">
    <header class="mb-4">
      <h3>New products</h3>
    </header>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/mitch-moondae-zXFtsdi9dIc-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$790.50</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/andres-jasso-ssbgw3cKdXg-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$320.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/kam-idris-_HqHX3LBN18-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/sarah-dorweiler-7tFlUFGa7Dk-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$790.50</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/phillip-goldsberry-fZuleEfeA1Q-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/andres-jasso-ssbgw3cKdXg-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$99.50</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border icon-hover px-2 pt-2"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="images/sarah-dorweiler-7tFlUFGa7Dk-unsplash.jpg" class="card-img-top" style="aspect-ratio: 1 / 1">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Product</h5>
            <p class="card-text">$120.00</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>